<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
  		<typeAlias alias="Member" type="yjc.wdb.domain.Member"/>
  		<typeAlias alias="Product" type="yjc.wdb.domain.Product"/>
  		<typeAlias alias="Wishlist" type="yjc.wdb.domain.Wishlist"/>
  		<typeAlias alias="Shop" type="yjc.wdb.domain.Shop"/>
  		<typeAlias alias="Alram" type="yjc.wdb.domain.Alram"/>
  		<!-- <typeAlias alias="LoginDTO" type="yjc.wdb.dto.LoginDTO"/> -->
  		<typeAlias alias="WishDTO" type="yjc.wdb.dto.WishDTO"/>
  		<typeAlias alias="MakDTO" type="yjc.wdb.dto.MakDTO"/>
  		<typeAlias alias="InsertDTO" type="yjc.wdb.dto.InsertDTO"/>
  		<typeAlias alias="MWSDTO" type="yjc.wdb.dto.MyWishShopDTO"/>
  		<typeAlias alias="Ssw" type="yjc.wdb.dto.shopSellWishDTO"/>
  		<typeAlias alias="alrListDTO" type="yjc.wdb.dto.alrListDTO"/>
  		
	</typeAliases>
</configuration>