<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yjc.wdb.mapper.testMapper">
	<!-- <select id="search" resultType="Product">
		select * from product where product_no > 0
		and category_no = (select category_no from category where category_small = #{keyword}) 
		or product_name like CONCAT('%', #{keyword}, '%')
		order by product_name;
	</select> -->
	<select id="search" resultType="Product">
		select * from product where product_no > 0
		and product_name like CONCAT('%', #{keyword}, '%')
		order by product_name;
	</select>
	
	<select id="login" resultType="Member">
		select * from member where member_id = #{member_id} and member_pw = #{member_pw}
	</select>
	
	<select id="wlist" resultType="WishDTO">
		select  wishList_no, a.wishList_date, b.product_no, b.product_name from wishlist a, product b
		where a.member_no = #{mem_no} and a.product_no = b.product_no order by a.wishList_date desc
	</select>
	<insert id="insertW">
		insert into wishlist(member_no, product_no) values (#{member_no}, #{product_no})
	</insert>
	<insert id="insertB">
		insert into product(product_name) values (#{keyval})
	</insert>
	<select id="selectPL" resultType="WishDTO">
		select * from product where product_name = #{keyval}
	</select>
	<select id="makList" resultType="MakDTO">	
		select * from shop_product t1
			inner join shop t2 ON t1.shop_no = t2.shop_no 
 			inner join product t3 ON t3.product_no = t1.product_no
 			where t3.product_no = #{product_no}
	
	</select>
	
	<select id="shopList" resultType="MakDTO">
		select a.shop_no, a.product_no, b.shop_gps_longitude, b.shop_gps_latitude from shop_product a
		inner join shop b
 		on a.shop_no = b.shop_no
	</select>

	<delete id="deleteW">
		delete from wishlist where wishList_no = #{wish_no} and member_no = #{mem_no}
	</delete>
	
	<select id="getM" resultType="Member">
		select * from member where member_no = #{mem_no}
	</select>
	<select id="getS" resultType="Shop">
		select * from shop
	</select>
	<select id="getShopOne" resultType="Shop">
		select * from shop where shop_no = #{shop_no}
	</select>
	<select id="getShopMem" resultType="Shop">
		select * from shop where member_no = #{mem_no}
	</select>
	<select id="getProdOne" resultType="Product">
		select * from product where product_no = #{prod_no}
	</select>

	<select id="getShopProdMem" resultType="Product">
		select t1.product_no, t3.product_name from shop_product t1
		inner join shop t2
		on t1.shop_no = t2.shop_no
		inner join product t3
		on t1.product_no = t3.product_no
		where member_no = #{member_no}
	</select>
	
	<select id="checkWish" resultType="Wishlist">
		select wishlist_no from wishlist where member_no = #{member_no} and product_no = #{product_no}
	</select>
	
	<update id="updateWish">
		update wishlist set wishList_date = now() where wishlist_no = #{wishlist_no}
	</update>
	<select id="productbool" resultType="int">     
      select count(*) from shop_product where #{product_name} IN 
      (select product.product_name
      			from shop_product, product
      			where product.product_no = shop_product.product_no AND shop_product.shop_no = 
      			(select shop.shop_no from shop
       			where shop.member_no IN (select member_no from member where member_id='seller') 
      			)
   	)

   </select>
   
   
   
   <select id="whisInProd" resultType="int">
   	select count(*)
	from wishlist, shop_product
	where wishlist.product_no = shop_product.product_no AND 
	wishlist.product_no IN
	(select product_no from product	where product_name = #{product_name})
		
   </select>
   
   <select id="alrList" resultType="alrListDTO">
   	select b.shop_no, b.member_no, b.shop_gps_longitude, b.shop_gps_latitude, a.soldout_check, a.product_no, c.product_name from shop_product a
	inner join product c
	on a.product_no = c.product_no
	right outer join shop b
	on a.product_no = #{prod_no}
	and a.shop_no = b.shop_no
   </select>
	
</mapper>